<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FQCard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB8F371D1EC0157300EDEB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB8F37311EC0157300EDEB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB8F373C1EC0157300EDEB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
